* {
    /*Affects margins around the main body and sidebar*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* This changes the background color */
    background-color: #d9dcd6;
}

.header {
    /*Class selector, affects the header of page*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 .seo {
    /*Styling of seo in the header, gives seo a different color*/
    color: #d9dcd6;
}

a {
    /*Link styling in navigation bar*/
    color: #ffffff;
    text-decoration: none;
}

p {
    /*Paragraph styling*/
    font-size: 16px;
}

.hero {
    /*Header image styling*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    /*Position of image*/
    float: left;
    margin-right: 25px;
}

.float-right {
    /*Position of image*/
    float: right;
    margin-left: 25px;
}

.content {
    /*Width of main body sections*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    /*Position and styling of sidebar*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    /*Color of sidebar text*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    /*Affects size and position of sidebar images*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    /*Main body of text, affects section styling and position*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    /*Affects size and styling of main body images*/
    max-height: 200px;
}

.footer {
    /*Styles the footer of page*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}